/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");


/* Global Variables */
:root {
  --font-base: "Karla", sans-serif;
  --bg-color-primary: #212121;
  --bg-color-secondary: #272727;
  --color-text-primary: #FFFFFF;
  --color-base: #abf600;
  --input-bg-color: #404040;
  --main-color: linear-gradient(90deg, #bec059, #4fadbe);
  --delete-color: #ef4444;
  --edit-color: #4fadbe;
  --permissions-color: #3c4fa4;
}

/* TailwindCss */
@import "tailwindcss";


@layer components {
  .btn {
    @apply inline-flex items-center justify-center px-4 py-2 rounded-full border text-black font-bold pb-4;
    background: var(--color-base);
    border-color: var(--black-color); 
  }

  .btn__shadow {
    box-shadow:
      inset 0 -6px 0 rgba(0, 0, 0, 0.55); 
  }

  .btn:hover {
    filter: brightness(0.95);
  }
}

/* Modal Buttons */
.modal__btn {
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 600;
  margin: 0.5rem;
  color: white;
}
.modal__btn--edit {
  background: var(--edit-color);
  border-radius: 0.5rem;
}
.modal__btn--cancel {
  background: var(--delete-color);
  border-radius: 0.5rem;
}
.modal__btn--permissions {
  background-color: var(--permissions-color);
}
.modal__btn--save {
}
.modal__add-btn {
  background: linear-gradient(90deg, #59c080, #4fadbe);
  color: white;
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

html,
body {
  font-family: var(--font-base);
  color: #111827;
}
